* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.total-con h2{
  text-align: center;
  font-weight: 500;
}

.container {
  width: 100%;
  height: 100vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

ul {
  list-style: none;
}

.income {
  color: black;
  font-size: 16px;
  border-right: 1px solid gainsboro;
  padding-right: 85px;
  font-weight: 500;
}

.income span {
  color: rgb(36, 209, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.expense {
  color: black;
  font-size: 16px;
  padding-left: 60px;
}

.expense span {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.income-expense {
  display: flex;
  min-width: 350px;
  max-width: 350px;
  height: 80px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  align-items: center;
}

.total-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.your-balance span {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 26px;
}

.list-container {
  width: 350px;
}

.list-container h3 {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 8px;
  color: rgb(56, 56, 56);
}

ul {
  padding-top: 8px;
  width: 100%;
  max-height: 140px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul::-webkit-scrollbar {
  display: none;
}

ul li {
  width: 350px;
  height: 35px;
  min-height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.delete-list {
  width: 20px;
  cursor: pointer;
  display: none;
}

li:hover .delete-list {
  display: block;
}

label{
  font-size: 12px;
  font-weight: 600;
  color: rgb(56, 56, 56);
}

ul div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  margin-top: 8px;
}

.form-container h3 {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 8px;
  color: rgb(56, 56, 56);
}

form input {
  height: 35px;
  border: 0px;
  padding-left: 8px;
}

form button {
  height: 35px;
  background-color: rgb(157, 136, 255);
  color: white;
  border: 0px;
  cursor: pointer;
}
